<tr>
  <td><%= subscription.external_id %></td>
  <td><%= subscription.customer&.external_id %></td>
  <td><%= subscription.customer&.name %></td>
  <td><%= subscription.customer&.email %></td>
  <td><%= subscription.status %></td>
</tr>
